@font-face {
  font-family: 'VTB Group Web';
  src: url('../fonts/subset-VTBGroupWeb-Light.woff2') format('woff2'),
      url('../fonts/subset-VTBGroupWeb-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VTB Group Web';
  src: url('../fonts/subset-VTBGroupWeb-Bold.woff2') format('woff2'),
      url('../fonts/subset-VTBGroupWeb-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VTB Group Web';
  src: url('../fonts/subset-VTBGroupWeb-Book.woff2') format('woff2'),
      url('../fonts/subset-VTBGroupWeb-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VTB Group Web';
  src: url('../fonts/subset-VTBGroupWeb-DemiBold.woff2') format('woff2'),
      url('../fonts/subset-VTBGroupWeb-DemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}